*{
    margin:0%;
    padding: 0%;
}
body{
    width:100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}
#navbar{
    display: flex;
    margin: 20px 25px;
    width: 100%;
}
#navbar .logo h2{
    font-size: 1.5rem;
    color: white;
}
#navbar .toggleicon{
    position:absolute;
    right: 5%;
    top:2%;
    border:2px solid white;
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: row;
}
#navbar .toggleicon #line1{
    position: absolute;
    top:10%;
    left:15%;
    width:20px;
    height:2px;
    background-color: white;
    border-radius: 40px;
    border:2px solid white
}
#navbar .toggleicon #line2{
    position: absolute;
    top:40%;
    left:15%;
    width:20px;
    height:2px;
    background-color: white;
    border-radius: 40px;
    border:2px solid white
}#navbar .toggleicon #line3{
    position: absolute;
    top:70%;
    left:15%;
    width:20px;
    height:2px;
    background-color: white;
    border-radius: 40px;
    border:2px solid white
}
#navbar .toggle{
    display: none;
    /* justify-content: center; */
    padding-left:40px;
    position: absolute;
    right: 0%;
    top:10%;
    width: 250px;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    z-index: 1000;
}
#navbar .toggle ul{
    list-style: none;
    margin-top: 10%;
}
#navbar .toggle ul li{
    line-height: 50px;
}
#navbar .toggle ul li a{
    color: orangered;
}
#navbar .items ul{
    position: absolute;
    display: flex;
    list-style: none;
    right: 7%;
}
#navbar ul li{
    margin:5px 25px;
}
#navbar ul li a{
    color: orangered;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 5px 15px;
}
#navbar ul li a:hover,#navbar ul li .active{
    color: white;
}
.main{
    width:98%;
    height: 670px;
    overflow: hidden;
    /* border:2px solid green; */
    display: flex;
    flex-direction: column;
}
.home{
    position: absolute;
    display: none;
    display: block;
    flex-direction: row;
    top:10%;
    width: 95%;
    height: 650px;
    margin: 0px 30px;
    border:2px solid white;
    overflow:hidden;
}
.home{
    transform: translateX(0%);
}
.left{
    position: absolute;
    top:20%;
    left:5%;
    padding: 10px 10px;
    width: 700px;
    height: 490;
    /* border: 1px solid red; */
}
.left h1{
    font-size: 6rem;
    color: white;
}
.left span h1{
    color: orangered;
}
.left .links{
    margin-top: 20px;
    margin-left: 5px;
}
.left .links .btn{
    width: 150px;
    height: 50px;
    margin:5px 20px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: 2px solid aqua;
    cursor: pointer;
    font-weight: bold;
    /* outline: aqua; */
}
.left .links .btn:hover{
    background-color: aqua;
    border:2px solid white;
    color: black;
    box-shadow: 2px 2px 8px gray;
}
.right{
    position:absolute;
    right: 0%;
    width: 650px;
    height: 650px;
    /* border:2px solid blue; */
}
.right h3{
    position: absolute;
    font-size: 2rem;
    top:15%;
    right: 70%;
    color: white;
}
.right h1{
    position: absolute;
    color: white;
    font-size: 6rem;
    right: 40%;
    top:20%;
}
.right .image{
    position: absolute;
    right: 10%;
    bottom: 0%;
}
.right .image img{
    width: 240px;
    height: 560px;
}



/* .work{
    position: absolute;
    display: none;
    flex-direction: row;
    top:10%;
    width: 95%;
    height: 650px;
    margin: 0px 30px;
    border:2px solid white;
}
.work{
    transform: translateX(110%);
}*/

.left p{
    color: white;
    margin: 10px 30px;
}
.left .boxes{
    display: flex;
    margin:5px 20px;
}
.left .boxes .box{
    width: 150px;
    height: 150px;
    border:1px solid white;
    margin:25px 10px;
}
.boxes #box1{
    box-shadow: 1px 2px 30px orangered;
}
.boxes #box2{
    box-shadow: 1px 2px 30px white;
}
.boxes #box3{
    box-shadow: 1px 2px 30px green;
}

.boxes .box h3{
    color: white;
    font-size: 2rem;
    margin:5px 15px;
}
.box h4{
    color: white;
    font-size: 2.5rem;
    margin: 15px 45px;
}
.work .right{
    position: absolute;
    bottom: 0%;
    right:5%;
    width: 500px;
    height: 600px;

}
.right img{
    position: absolute;
    bottom: 0%;
    right: 5%;
    width:330px;
    height: 550px;
}




.resume{
    position: absolute;
    display: block;
    flex-direction: row;
    top:10%;
    width: 95%;
    height: 650px;
    margin: 0px 30px;
    border:2px solid white;
    overflow:hidden;
}
.resume{
    transform: translateX(110%);
}
.resume img{
    box-shadow: 1px 1px 20px cyan;
    /* border:2px solid red; */
    display: inline-block;
    margin:10px 80px;
    height: 630px;
    width:430px;
}
.resume img:hover{
    width: 460px;
    height: 650px;
    margin-left: 140px;
    margin-top: -2px;
    transition: 0.4s;
}
.resume h1{
    position: absolute;
    right: 10%;
    top:15%;
    font-size: 6rem;
    color: white;
}
.resume h2{
    position: absolute;
    right: 15%;
    top:30%;
    font-size: 6.5rem;
    color: orangered;
}
.resume #resumerobot{
    border: none;
    box-shadow: none;
    position: absolute;
    right:0%;
    bottom: 0%;
    width: 180px;
    height: 400px;
}


@media  (max-width:1300px){
    .home .right h1{
        margin-right: 20%;
        font-size: 3rem;
    }
}
@media (max-width:970px){
    .home .right h1,.home .right h3{
        display: none;
    }
    .home .right img{
        width:150px;
        height: 400px;
    }
}
@media (max-width:840px){
    .home .right img{
        width: 120px;
        height: 300px;
        z-index: -500;
    }
}
@media (max-width:620px){
    .home .right img{
        display: none;
    }
    .home .left h1{
        font-size: 4rem;
    }
}



@media (max-width:1200px){
    .working .right img{
        width:200px;
        height: 400px;
    }
}
@media (max-width:1000px){
    .working .right img{
        width:120px;
        height: 270px;
    }
}
@media (max-width:800px){
    .working .right img{
        display: none;
    }
}
@media (max-width:800px){
    .working .left .boxes .box{
        margin-top: 5%;
        width:100px;
        height: 100px;
    }
    .working .left .boxes .box h3{
        font-size: 18px;
    }
    .working .left .boxes .box h4{
        font-size: 18px;
    }
    .working .left p{
        width:450px
        /* font-size: 10px; */
    }

}
@media (max-width:620px){
    .working .left h1{
        font-size: 2rem;
    }
    .working .left p{
        width:350px
        /* font-size: 10px; */
    }
}




@media (max-width:1150px){
    .resume h1,.resume h2{
        font-size: 4rem;
    }
    .resume #resumerobot{
        height: 350px;
        width:150px
    }
}
@media (max-width:950px){
    .resume h1,.resume h2{
        font-size: 3rem;
    }
    .resume #resumerobot{
        height: 270px;
        width:120px
    }
}
@media (max-width:850px){
    .resume img{
        width:350px;
        height: 550px;
        margin-top: 5%;
    }
}
@media (max-width:760px){
    .resume h1,.resume h2{
        /* font-size: 3rem; */
        display: none;
    }
    .resume #resumerobot{
        /* height: 270px; */
        /* width:120px */
        display: none;
    }
    .resume img{
        width:350px;
        height: 550px;
        margin-top: 5%;
        margin-left: 25%;
    }
}
@media (max-width:560px){
    .resume img{
        width:350px;
        height: 550px;
        margin-top: 5%;
        margin-left: 10%;
    }
}





@media (min-width:950px){
    #navbar #toggle-icon{
        display: none;
    }
}
@media (max-width:951px){
    #navbar .items{
        display: none;
    }
}


